/* Variables */
:root {
  --background-color: #001220;
  --font-color: #ffffff;
  --highlight-color: #d51e3a;
}

/* General Styles */
body {
  background-color: var(--background-color);
  font-family: Arial, sans-serif;
  margin: 0;
  padding-top: 56px;
  scroll-behavior: smooth;
  overscroll-behavior-y: none;
  font-size:17px;
}

.iconajc {
  border: 1px solid var(--font-color);
}

/* Footer */
.fbc {
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 0.15) 7.37%,
    var(--background-color) 23.28%
  );
}

/* Button Styles */
.btn-outline-light {
  border-color: var(--font-color) !important;
  color: var(--font-color) !important;
  background: none !important;
}

.btn:hover {
  background: none !important;
}

/* Navbar Styles */
.navbar-toggler {
  border: 2px solid var(--background-color) !important;
}

.navbar-expand-lg {
  background: var(--highlight-color) !important;
}

.nav-link {
  color: var(--font-color) !important;
}

.nav-link:hover, .footericon:hover, .editbtn:hover, .closebtn:hover, .helpbtn:hover, .addremove:hover{
  opacity: 0.6;
}



.helpbtn{
  cursor: pointer;
}

.cb {
  background: var(--font-color);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.lc {
  color: var(--font-color);
}

.formColor {
  min-width: 100px;
  border: 2px solid #941528 ;
  text-align: center;
  background-color: var(--highlight-color);
  color: black;
  transition: transform 0.3s;
}

label {
  color: black;
}

.scaleanimation{
  transition: transform 0.3s;
}
.scaleanimation:hover {
  transform: scale(1.1);
}

.moneyUi {
  font-weight: normal;
}

input::placeholder {
  color: black;
}

input:focus::placeholder {
  opacity: 0;
}

.table th.adjfont {
  width: 50%;
  font-weight: normal;
}

.AmountIndic {
  text-decoration: underline dotted;
}

.cc,
.ct {
  background-color: var(--background-color) !important;
  color: var(--font-color) !important;
}

td.text-center.ct label {
  color: var(--font-color);
}

.modal-content {
  background-color: var(--background-color) !important;
  color: var(--font-color);
}

.dollarsign {
  color: var(--font-color) !important;
}



.custom-navbar-toggler {
  border: 1px solid var(--font-color) !important;
}

input[type="number"]:focus {
  outline: none !important;
  box-shadow: none !important;
}

input:disabled {
  background-color: #a09e9e !important;
  color: #666;
  cursor: not-allowed;
}
.mybtn{
  text-decoration: none ;
  background: none;
  border: none;
}

.editbtn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fade-in {
  animation-name: fadeIn;
  animation-duration: 1.6s;
}
.accordion {
  font-size: 17px;
  --bs-accordion-active-bg:#ffff;
  --bs-accordion-active-color:#000;
  --bs-accordion-btn-focus-box-shadow: none;
}

.accordion-button:not(.collapsed) {
  box-shadow: none;
}


/* .accordion-button::after{
  
} */

/* .accordion-button:not(.collapsed)::after {
} */
.accordion-body{
  color: #000;
  font-size: 17px;
  background: linear-gradient(180deg, rgba(0, 18, 32, 0.19) 0%, #D51E3A 94.11%);
  border: none;
}
